# help github linguist to detect language and highlight syntax
dot-ssh/config linguist-language=sshconfig
gitconfig/dot-gitconfig linguist-language=gitconfig
shell/bashrc/**/dot-bashrc linguist-language=bash
shell/zshrc/**/dot-zshrc linguist-language=zsh
vimrc/dot-vimrc linguist-language=vim
