# help github linguist to detect language and highlight syntax
dot-bashrc linguist-language=bash
dot-coloritrc linguist-language=m4
dot-config/mutt/* linguist-language=sh
dot-config/tig/* linguist-language=sh
dot-gitconfig linguist-language=gitconfig
dot-lynxrc linguist-language=npmrc
dot-ripgreprc linguist-language=npmrc
dot-ssh/config linguist-language=ssh-config
dot-tmux.conf linguist-language=sh
dot-vimrc linguist-language=vim
dot-zshrc linguist-language=zsh
