# help github linguist to detect language and highlight syntax
ssh/dot-ssh/config linguist-language=sshconfig
gitconfig/dot-gitconfig linguist-language=gitconfig
bashrc/dot-bashrc linguist-language=bash
zshrc/dot-zshrc linguist-language=zsh
vimrc/dot-vimrc linguist-language=vim
